.content1{
    border: 2px solid black;
    width: 530px;
    background-color: rgb(194, 161, 225);
    font-weight: bold;
    text-align: center;
    color: rgb(246, 250, 253);
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family:   Verdana;
}
.content2{
    border: 2px solid black;
    width: 530px;
    background-color: rgb(97, 135, 206);
    font-weight: bold;
    text-align: center;
    color: rgb(246, 250, 253);
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family:   Verdana;
}
.content3{
    border: 2px solid black;
    width: 530px;
    background-color: rgb(161, 225, 178);
    font-weight: bold;
    text-align: center;
    color: rgb(246, 250, 253);
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family:   Verdana;
}
.content4{
    border: 2px solid black;
    width: 530px;
    background-color: rgb(92, 27, 152);
    font-weight: bold;
    text-align: center;
    color: rgb(246, 250, 253);
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family:   Verdana;
}
.main{
    display: flex;
    gap: 40px;
}